{% extends 'base.html.twig' %}

{% block title %}Management{% endblock %}

{% block content %}
<div class="managing">
    <h1>Managing</h1>
    <div class="managing-tabs">
        
        <input type="radio" id="managing-tab-input-1" name="managing-tab-input" class="managing-tab-input"
            {% if app.session.get('lastManagementType')|default('') == 'squadMember' %} checked="checked"{% endif %} ><!--
        --><label for="managing-tab-input-1" class="managing-tab-label">Members</label><!--
        
        --><input type="radio" id="managing-tab-input-2" name="managing-tab-input" class="managing-tab-input"
            {% if app.session.get('lastManagementType')|default('') == 'assignmentGroup' %} checked="checked"{% endif %} ><!--
        --><label for="managing-tab-input-2" class="managing-tab-label">Groups</label><!--
        
        --><input type="radio" id="managing-tab-input-3" name="managing-tab-input" class="managing-tab-input"
            {% if app.session.get('lastManagementType')|default('') == 'rootCategory' %} checked="checked"{% endif %} ><!--
        --><label for="managing-tab-input-3" class="managing-tab-label">Root Category</label><!--
        
        --><input type="radio" id="managing-tab-input-4" name="managing-tab-input" class="managing-tab-input"
            {% if app.session.get('lastManagementType')|default('') == 'assignmentCategory' %} checked="checked"{% endif %} ><!--
        --><label for="managing-tab-input-4" class="managing-tab-label">Category</label>
                
        <div class="managing-tab managing-tab-1">
            <h3>New Member</h3>
            {{ form(squadMember.form) }}
            <hr/>
            {% if squadMember.list %}
                <table>
                    <tr>
                        <th>Name1</th>
                        <th>Name2</th>
                        <th>Name3</th>
                        <th>Rank</th>
                        <th>Scancode</th>
                        <th>Last Assignment</th>
                        <th>Edit</th>
                    </tr>
                    {% for squadMemberEntry in squadMember.list %}
                        <tr>
                            <td>{{ squadMemberEntry.name1 | default("kA") }}</td>
                            <td>{{ squadMemberEntry.name2 | default("kA") }}</td>
                            <td>{{ squadMemberEntry.name3 | default("kA") }}</td>
                            <td>{{ squadMemberEntry.rank | default("kA") }}</td>
                            <td>{{ squadMemberEntry.scanCode | default("kA") }}</td>
                            <td>{{ squadMemberEntry.lastAssignment | default("kA") }}</td>
                            <td>
                                <a href="{{ path('management_editSquadMember', {memberId: squadMemberEntry.id}) }}">Bearbeiten</a>

                                {% if squadMemberEntry.assignmentPositions|length == 0 %}
                                    <a href="{{ path('management_deleteSquadMember', {id: squadMemberEntry.id}) }}">Löschen</a>
                                {% endif %}
                            </td>
                            
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>

        <div class="managing-tab managing-tab-2">
            <h3>New Group</h3>
            {{ form(assignmentGroup.form) }}
            <hr/>
            {% if assignmentGroup.list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Member count</th>
                        <th>Edit</th>
                    </tr>
                    {% for assignmentGroupEntry in assignmentGroup.list %}
                        <tr>
                            <td>{{ assignmentGroupEntry.name | default("kA") }}</td>
                            <td>{{ assignmentGroupEntry.description | default("kA") }}</td>
                            <td>{{ assignmentGroupEntry.memberCount | default("kA") }}</td>
                            <td>
                                <a href="{{ path('management_editAssignmentGroup', {assignmentGroupId: assignmentGroupEntry.id}) }}">Bearbeiten</a>

                                {% if assignmentGroupEntry.assignmentPositions|length == 0 %}
                                    <a href="{{ path('management_deleteAssignmentGroup', {id: assignmentGroupEntry.id}) }}">Löschen</a>
                                {% endif %}
                            </td>                            
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>

        <div class="managing-tab managing-tab-3">
            
            <h3>New Root Category</h3>
            {{ form(rootCategory.form) }}
            <hr/>
            {% if rootCategory.list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                    {% for rootCategoryEntry in rootCategory.list %}
                        <tr>
                            <td>{{ rootCategoryEntry.name | default("kA") }}</td>
                            <td>{{ rootCategoryEntry.description | default("kA") }}</td>
                            <td>
                                <a href="{{ path('management_editAssignmentRootCategory', {rootCategoryId: rootCategoryEntry.id}) }}">Bearbeiten</a>                            

                                {% if rootCategoryEntry.assignmentCategories|length == 0 and rootCategoryEntry.assignments|length == 0 %}
                                    <a href="{{ path('management_deleteAssignmentRootCategory', {id: rootCategoryEntry.id}) }}">Löschen</a>
                                {% endif %}
                            </td>
                            
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        
        <div class="managing-tab managing-tab-4">
            
            <h3>New Category</h3>
            {{ form(assignmentCategory.form) }}
            <hr/>
            {% if assignmentCategory.list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Root Category</th>
                        <th>Contained Groups</th>
                        <th>Edit</th>
                    </tr>
                    {% for assignmentCategoryEntry in assignmentCategory.list %}
                        <tr>
                            <td>{{ assignmentCategoryEntry.name | default("kA") }}</td>
                            <td>{{ assignmentCategoryEntry.description | default("kA") }}</td>
                            <td>{{ assignmentCategoryEntry.rootCategory.name | default("kA") }}</td>
                            <td>
                                {% if assignmentCategoryEntry.containedAssignmentGroups %}
                                    {% set isFirst = true %}
                                    {% for containedAssignmentGroup in assignmentCategoryEntry.containedAssignmentGroups %}
                                        {% if not isFirst  %}, {% endif %}{{ containedAssignmentGroup.name | default("kA") }}
                                        {% set isFirst = false %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('management_editAssignmentCategory', {assignmentCategoryId: assignmentCategoryEntry.id}) }}">Bearbeiten</a>
                                
                                {% if assignmentCategoryEntry.assignments|length == 0 %}
                                    <a href="{{ path('management_deleteAssignmentCategory', {id: assignmentCategoryEntry.id}) }}">Löschen</a>
                                {% endif %}
                            </td>
                            
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
