{% extends 'base.html.twig' %}

{% block title %}Hello ManagementController!{% endblock %}

{% block content %}
<style>
    
    .managing-tabs .trenner { border-bottom: 1px solid #040505; width: 100%; }
    .managing-tabs .managing-tab-input { display: none; }    
    .managing-tabs .managing-tab { display: none; }
    .managing-tabs .managing-tab-label { padding: 5px; cursor: pointer; border-bottom: 1px solid #040505; }
    .managing-tabs .managing-tab-input:checked + .managing-tab-label { border-radius: 10px 10px 0px 0px; border: 1px solid #040505; border-bottom: #ffffff; }
    .managing-tabs #managing-tab-input-1:checked ~ .managing-tab-1 { display: block; }
    .managing-tabs #managing-tab-input-2:checked ~ .managing-tab-2 { display: block; }
    .managing-tabs #managing-tab-input-3:checked ~ .managing-tab-3 { display: block; }
    
</style>

<div class="squad-managing">
    <h1>Managing</h1>

    <div class="managing-tabs">
        <input type="radio" id="managing-tab-input-1" name="managing-tab-input" class="managing-tab-input" checked="ckecked">
        <label for="managing-tab-input-1" class="managing-tab-label">Members</label>
        
        <input type="radio" id="managing-tab-input-2" name="managing-tab-input" class="managing-tab-input">
        <label for="managing-tab-input-2" class="managing-tab-label">Groups</label>
        
        <input type="radio" id="managing-tab-input-3" name="managing-tab-input" class="managing-tab-input">
        <label for="managing-tab-input-3" class="managing-tab-label">Category</label>
                
        <div class="managing-tab managing-tab-1">
            <h3>New Member</h3>
            {% if squadMember.msg  %} 
                {{ squadMember.msg }}
            {% endif %}
            {{ form(squadMember.form) }}
            <hr/>
            {% if squadMember.list %}
                <table>
                    <tr>
                        <th>Name1</th>
                        <th>Name2</th>
                        <th>Name3</th>
                        <th>Rank</th>
                        <th>Scancode</th>
                        <th>Last Assignment</th>
                        <th>Edit</th>
                    </tr>
                    {% for squadMemberEntry in squadMember.list %}
                        <tr>
                            <td>{{ squadMemberEntry.name1 | default("kA") }}</td>
                            <td>{{ squadMemberEntry.name2 | default("kA") }}</td>
                            <td>{{ squadMemberEntry.name3 | default("kA") }}</td>
                            <td>{{ squadMemberEntry.rank | default("kA") }}</td>
                            <td>{{ squadMemberEntry.scanCode | default("kA") }}</td>
                            <td>{{ squadMemberEntry.lastAssignment | default("kA") }}</td>
                            <td><a href="{{ path('management_editSquadMember', {memberId: squadMemberEntry.id}) }}">Bearbeiten</a></td>
                            
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>

        <div class="managing-tab managing-tab-2">
            <h3>New Group</h3>
            {% if assignmentGroup.msg  %} 
                {{ assignmentGroup.msg }}
            {% endif %}
            {{ form(assignmentGroup.form) }}
            <hr/>
            {% if assignmentGroup.list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Member count</th>
                        <th>Edit</th>
                    </tr>
                    {% for assignmentGroupEntry in assignmentGroup.list %}
                        <tr>
                            <td>{{ assignmentGroupEntry.name | default("kA") }}</td>
                            <td>{{ assignmentGroupEntry.description | default("kA") }}</td>
                            <td>{{ assignmentGroupEntry.memberCount | default("kA") }}</td>
                            <td><a href="{{ path('management_editAssignmentGroup', {assignmentGroupId: assignmentGroupEntry.id}) }}">Bearbeiten</a></td>                            
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>

        <div class="managing-tab managing-tab-3">
            
            <h3>New Category</h3>
            {% if assignmentCategory.msg  %} 
                {{ assignmentCategory.msg }}
            {% endif %}
            {{ form(assignmentCategory.form) }}
            <hr/>
            {% if assignmentCategory.list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category Group</th>
                        <th>Contained Groups</th>
                        <th>Edit</th>
                    </tr>
                    {% for assignmentCategoryEntry in assignmentCategory.list %}
                        <tr>
                            <td>{{ assignmentCategoryEntry.name | default("kA") }}</td>
                            <td>{{ assignmentCategoryEntry.description | default("kA") }}</td>
                            <td>{{ assignmentCategoryEntry.categoryGroup | default("kA") }}</td>
                            <td>
                                {% if assignmentCategoryEntry.containedAssignmentGroups %}
                                    {% set isFirst = true %}
                                    {% for containedAssignmentGroup in assignmentCategoryEntry.containedAssignmentGroups %}
                                        {% if not isFirst  %}, {% endif %}{{ containedAssignmentGroup.name | default("kA") }}
                                        {% set isFirst = false %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td><a href="{{ path('management_editAssignmentCategory', {assignmentCategoryId: assignmentCategoryEntry.id}) }}">Bearbeiten</a></td>
                            
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
