<div class="activeAssigments-wrapper">
    <h2>Aktive Einsätze</h2>
    <div class="activeAssigments">
        {% for activeAssignmentEntry in activeAssignments %}
            <div class="activeAssigment">
                <div>{{ activeAssignmentEntry.name }}</div>
                <div>Eintragungen: {{ activeAssignmentEntry.assignmentPositions|length }}</div>
                <a href="{{ path('app_assignment', {'id': activeAssignmentEntry.id}) }}">
                    <button>Einsatz fortsetzten</button>
                </a>

                {% if activeAssignmentEntry.assignmentCategory.forceComment %}
                    <div class="closeAssignmentWithCommentWrapper">
                        <div class="assignmentDescWrapper">
                            <form action="{{ path('app_assignmentClose', {'id': activeAssignmentEntry.id}) }}" method="POST">
                                <label for="assignmentDesc_{{ activeAssignmentEntry.id }}">Einsatzbeschreibung</label>
                                <textarea id="assignmentDesc_{{ activeAssignmentEntry.id }}" name="description"></textarea>
                                <button type="submit">Einsatz beenden</button>
                            </form>
                        </div>
                        <button class="commentButton">Einsatz beenden</button>
                    </div>
                {% else %}
                    <a href="{{ path('app_assignmentClose', {'id': activeAssignmentEntry.id}) }}" class="close-active-assignment">
                        <button>Einsatz beenden</button>
                    </a>
                {% endif %}
                
            </div>
        {% endfor %}
    </div>
</div>