{% extends 'base.html.twig' %}

{% block title %}Einsatz!{% endblock %}

{% block content %}
<div class="assignment-wrapper">
    <h1>Aktiver Einsatz: <span>"{{ assignment.name }}"</span></h1>
            
    {{ form_start(scanForm) }}
        <div class="assignmentGroups">
            {{ form_widget(scanForm.assignmentGroup) }}
        </div>
        <div class="scan">
            {{ form_row(scanForm.scan) }}
        </div>
        {{ form_rest(scanForm) }}
    {{ form_end(scanForm) }}
    
    <div class="assignment-positions">

        <table>
            <tr>
                <th>Name</th>
                <th>Zeitpunkt</th>
                <th>Gruppe</th>
            </tr>
            {% for assignmentPosition in assignmentPositions %}
                <tr>
                    <td>{{ assignmentPosition.squadMember.name1|default('kA') }}</td>
                    <td>{{ assignmentPosition.scanTimestamp|format_datetime('none', 'medium') }}</td>
                    <td>{{ assignmentPosition.assignmentGroup.name }}</td>
                </tr>
            {% endfor  %}
        </table>
        <div class="assignmentGroup-data-wrapper">
            {% for assignmentGroup in assignmentGroups %}
                {% set addClass = '' %}
                {% if assignmentGroup.memberCount > 0 %}
                    {% if assignmentGroup.activeMemberCount == assignmentGroup.memberCount %}
                        {% set addClass = ' group-full' %}
                    {% elseif assignmentGroup.activeMemberCount > assignmentGroup.memberCount  %}
                        {% set addClass = ' group-overflow' %}
                    {% endif %}
                {% endif %}
                <div class="assignmentGroup-data{{ addClass }}" data-id="{{ assignmentGroup.id }}">
                    Besatzung:
                    {% if assignmentGroup.memberCount > 0 %}
                        {{ assignmentGroup.activeMemberCount }} / {{ assignmentGroup.memberCount }}
                    {% else %}
                        {{ assignmentGroup.activeMemberCount }} 
                    {% endif %}
                </div>
            {% endfor  %}
        </div>
    </div>
</div>
{% endblock %}
